<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
<!--                   <h1 class="brand-heading">Grayscale</h1>
                  <p class="intro-text">A free, responsive, one page Bootstrap theme.<br>Created by Start Bootstrap.</p> -->
                </div>
            </div>
        </div>
    </div>
</header>


<!-- <h1>Yoga Every Damn Day</h1> -->
<!-- <img src="images/driftwood-beach-rachel.jpg" id="main-background" alt="Yoga Every Damn Day"> -->

<!-- // Yoga Every Damn Day header
// button to view pose section
// maybe button to see #yogaeverydamnday instagram -->




<!-- ask steve about category tables
could i add posetype to the pose category table and create a view model to pull in the poses by posetype/category
might not have to add categoryid to pose table -->