<div class="intro main-container container-fluid">
  <div class="intro-body main">
    <img src="images/driftwood-beach-rachel-crop.jpg" class="main-pic" alt="Yoga Every Damn Day">
      <span class="main-text">
        <h1 class="brand-heading">Yoga Every Damn Day</h1>
        <p class="intro-text">Yoga can be intimidating for those new to the practice,<br>but when you break down the poses and work on building strength and flexibility,<br>
        you'll be practicing yoga every damn day.</p>
      </span>
  </div>
</div>

