<section id="about" class="container content-section text-center">

  <div>
    <p>Select a pose from the menu below to see a list of preparatory poses that will help you build the strength and flexibility needed in order to achieve your selected pose.</p>
  </div>

  <div class="dropdown" id="pose-dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Poses
      <span class="caret"></span>
    </button>
    <ul  class="dropdown-menu" aria-labelledby="dropdownMenu1">


      <li ng-repeat="pose in posesArray">
        <a ng-click="seePoseDetails(pose.PoseId)">{{ pose.Sanskrit }}  |  {{ pose.CommonName }}</a>
      </li>

    </ul>
  </div>

  <div class="poses">

    <!-- base pose -->
    <div ng-if="basePose" class="col-sm-8 col-sm-offset-2 base-pose">
      <div>{{ basePose.Sanskrit }} </div>
      <div>{{ basePose.CommonName }} </div>
      <div><img ng-src="{{basePose.Image}}"></div>
    </div>

    <!-- prep poses -->
    <div ng-if="prepPoses.length" class="prep-poses"> 

        <p class="prepPoseHeader">Prep Poses:</p> 

        <div class="card col-sm-6" ng-repeat="prep in prepPoses">
          <!-- <div class="col-sm-6 repeat-poses"> -->
          <div>Sanskrit: {{ prep.Sanskrit }}</div>
          <div>Pose Name: {{ prep.CommonName }}</div>
          <img class="yoga-pic" ng-src="{{prep.Image}}">
          <!-- </div> -->
        </div>
    </div>
     <!-- closes ng-if prepPoses div -->
  </div> <!-- closes entire poses div -->
</section>
